/*
Theme Name: BlogExpress
Theme URI: https://www.themeinwp.com/theme/blogexpress
Author: Themeinwp
Author URI: https://www.themeinwp.com/
Description: Modern, clean, minimal, and elegant, BlogExpress is a responsive WordPress Theme suitable for any kind of blog, personal, travel, fashion, food, photography, publishing, or tutorial blog sites. BlogExpress WordPress theme is perfect for creatives, service-based businesses, and bloggers who went to tell their story with a bold, minimalist style.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: blogexpress
Tags: blog, news, one-column, two-columns, custom-background, custom-logo, custom-menu, featured-images, featured-image-header, flexible-header, post-formats, rtl-language-support, translation-ready, theme-options, threaded-comments, footer-widgets
Tested up to: 5.7
Requires PHP: 5.5
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Header
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Social Icon
# Gutenberg
# Media
	## Captions
	## Galleries
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    border: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 85%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
    font-size: 62.5%; /* 1rem = 10px */
}

body,
button,
input,
select,
optgroup,
textarea {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    line-height: 1.2;
    clear: both;
}

h1,
h2 {
    margin: 0 0 2.0rem;
}

h3,
h4,
h5,
h6 {
    margin: 0 0 1.5rem;
}

.entry-title-large,
.entry-title-big,
.entry-title-medium {
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    letter-spacing: -.25rem;
}

.entry-title-large {
    font-size: 5.4rem
}

.entry-title-big {
    font-size: 4.2rem;
}

.entry-title-medium {
    font-size: 3.4rem;
}

.entry-title-small {
    font-size: 1.6rem;
    font-weight: 700;
}

.entry-title span {
    font-style: italic;
}

p {
    margin-bottom: 1.5em;
    margin-top: 0;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

::-moz-selection {
    background: #070707;
    color: #fff;
}

::selection {
    background: #070707;
    color: #fff;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

.body-scroll-locked {
    overflow: hidden;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

figure {
    margin: 1em 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

.data-bg {
    background-color: #ededed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    width: 100%;
}

.data-bg-fixed {
    background-attachment: fixed;
}

.data-bg-big {
    height: 540px;
}

.data-bg-medium {
    height: 340px;
}

.data-bg-small {
    height: 240px;
}

.data-bg-xsmall {
    height: 140px;
}

.data-bg-thumbnail {
    height: 100px;
}

@media (max-width: 767px) {
    .data-bg-big {
        height: 400px;
    }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
fieldset {
    border: .2rem solid #e1e1e3;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 2rem;
}

fieldset > *:first-child {
    margin-top: 0;
}

fieldset > *:last-child {
    margin-bottom: 0;
}

form {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

form > *:first-child {
    margin-top: 0;
}

form > *:last-child {
    margin-bottom: 0;
}

legend {
    font-size: .85em;
    font-weight: 700;
    padding: 0 1rem;
}

label {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 .5rem 0;
}

label.inline,
input[type="checkbox"] + label {
    display: inline;
    font-weight: 400;
    margin-left: .5rem;
}

input,
textarea,
button,
.select {
    font-family: inherit;
    line-height: 1;
}

input,
textarea,
.select {
    border-color: #000;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border-radius: 0;
    border-style: solid;
    border-width: .1rem;
    box-shadow: none;
    color: inherit;
    display: block;
    font-size: 1.6rem;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding: 1.5rem 1.8rem;
    width: 100%;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="color"]:hover,
input[type="color"]:focus,
textarea:hover,
textarea:focus {
    border-color: #fee86d;
}

textarea {
    height: 12rem;
    line-height: 1.5;
    width: 100%;
}

select {
    font-family: inherit;
    font-size: inherit;
}

input::-webkit-input-placeholder {
    line-height: normal;
}

input:-ms-input-placeholder {
    line-height: normal;
}

input::-moz-placeholder {
    line-height: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
    opacity: 0;
    visibility: hidden;
}

button,
.button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: .1rem solid;
    background: #fee86d;
    border-color: #fee86d;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    margin: 0;
    padding: 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: opacity .15s linear;
}

button:hover,
.button:hover,
.wp-block-button__link:hover,
.wp-block-file__button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
.button:focus,
.wp-block-button__link:focus,
.wp-block-file__button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    text-decoration: none;
    border-color: #fee86d;
}

button:hover,
.button:hover,
.wp-block-button__link:hover,
.wp-block-file__button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
.button:focus,
.wp-block-button__link:focus,
.wp-block-file__button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
.button:active,
.wp-block-button__link:active,
.wp-block-file__button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    outline: none;
}

.post-password-form {
    padding: 40px;
    background: #f8f9fa;
}

.post-password-form label {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.post-password-form input[type="password"] {
    min-height: 40px;
}

.post-password-form input[type="submit"] {
    padding: 0 2rem;
    min-height: 40px;
    height: 100%;
    border-radius: 0;
}

.post-password-form > p:first-child {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.post-password-form > p:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 0;
}

.btn-fancy {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 16px 42px;
    text-decoration: none;
    position: relative;
    color: #000;
    border-color: #000;
}

.btn-fancy > .btn-arrow {
    background-color: transparent;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: 100%;
    z-index: 50;
    will-transform: translate;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    -webkit-transition: right 0.5s ease-in-out, width 0.4s ease 0.3s, height 0.3s ease 0.3s, border-width 0.4s ease-in-out, background-color 0.2s ease-in, border-color 0.4s ease-in-out, -webkit-transform 0.5s ease-in;
    transition: right 0.5s ease-in-out, width 0.4s ease 0.3s, height 0.3s ease 0.3s, border-width 0.4s ease-in-out, background-color 0.2s ease-in, border-color 0.4s ease-in-out, -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in, right 0.5s ease-in-out, width 0.4s ease 0.3s, height 0.3s ease 0.3s, border-width 0.4s ease-in-out, background-color 0.2s ease-in, border-color 0.4s ease-in-out;
    transition: transform 0.5s ease-in, right 0.5s ease-in-out, width 0.4s ease 0.3s, height 0.3s ease 0.3s, border-width 0.4s ease-in-out, background-color 0.2s ease-in, border-color 0.4s ease-in-out, -webkit-transform 0.5s ease-in;
}

.btn-fancy > .btn-arrow:before,
.btn-fancy > .btn-arrow:after {
    background-color: transparent;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

.btn-fancy > .btn-arrow:before {
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.btn-fancy > .btn-arrow:after {
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.btn-fancy:hover > .btn-arrow,
.btn-fancy:focus > .btn-arrow {
    background-color: #000;
    height: 2px;
    border-width: 0;
    border-color: transparent;
    width: 56px;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    -webkit-transition: right 0.5s ease 0.2s, width 0.4s ease, height 0.3s ease-in-out, border-width 0.3s ease-in-out, background-color 0.2s ease-in 0.3s, border-color 0.3s ease-in-out, -webkit-transform 0.5s ease-in;
    transition: right 0.5s ease 0.2s, width 0.4s ease, height 0.3s ease-in-out, border-width 0.3s ease-in-out, background-color 0.2s ease-in 0.3s, border-color 0.3s ease-in-out, -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in, right 0.5s ease 0.2s, width 0.4s ease, height 0.3s ease-in-out, border-width 0.3s ease-in-out, background-color 0.2s ease-in 0.3s, border-color 0.3s ease-in-out;
    transition: transform 0.5s ease-in, right 0.5s ease 0.2s, width 0.4s ease, height 0.3s ease-in-out, border-width 0.3s ease-in-out, background-color 0.2s ease-in 0.3s, border-color 0.3s ease-in-out, -webkit-transform 0.5s ease-in;
}

.btn-fancy:hover > .btn-arrow:before,
.btn-fancy:hover > .btn-arrow:after,
.btn-fancy:focus > .btn-arrow:before,
.btn-fancy:focus > .btn-arrow:after {
    background-color: #000;
    width: 8px;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.btn-fancy:hover > .btn-arrow:before,
.btn-fancy:focus > .btn-arrow:before {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.btn-fancy:hover > .btn-arrow:after,
.btn-fancy:focus > .btn-arrow:after {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.btn-fancy:hover > .btn-arrow-text,
.btn-fancy:focus > .btn-arrow-text {
    -webkit-transform: translateX(-42px);
    transform: translateX(-42px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out 0.2s;
    transition: -webkit-transform 0.4s ease-in-out 0.2s;
    transition: transform 0.4s ease-in-out 0.2s;
    transition: transform 0.4s ease-in-out 0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
}

.btn-fancy > .btn-arrow-text {
    display: block;
    position: relative;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.preloader {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transform: all 0.7s ease;
    transition: all 0.7s ease;
}

.page-loaded .preloader {
    transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.preloader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.theme-loader {
    margin-top: 2rem;
    height: 5px;
    width: 15rem;
    background-color: lightgrey;
}

.theme-loading {
    background-color: #0e76a8;
    width: 5rem;
    height: 5px;
    animation: preload-animation 1.8s infinite;
}

@keyframes preload-animation {
    0% {
        transform: translateX(0rem);
    }
    50% {
        transform: translateX(10rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

.theme-custom-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
}

.theme-cursor-secondary {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 10000001;
    background-color: #CED0D4;
    -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    -o-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
}

.theme-cursor-secondary.cursor-hover {
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background-color: #CED0D4;
    opacity: .3;
}

.theme-cursor-primary {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #CED0D4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    opacity: .5;
    -webkit-transition: all .08s ease-out;
    -o-transition: all .08s ease-out;
    transition: all .08s ease-out;
}

.theme-cursor-primary.cursor-hover {
    opacity: 0;
}

.main-wrapper[data-magic-cursor="hide"] .theme-custom-cursor {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-titles .site-title {
    display: block;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 auto;
}

.header-titles .site-title a {
    color: inherit;
}

.header-navigation-wrapper {
    position: relative;
}

.header-navbar {
    align-items: center;
    background: transparent;
    display: flex;
    min-height: 15rem;
    position: relative;
    transition: none;
}

.wrapper-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wrapper-inner .navbar-item-left {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.wrapper-inner .navbar-item-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.main-nav-controls,
.navbar-controls {
    display: flex;
}

.main-nav-controls {
    align-items: center;
}

.navbar-controls {
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    margin: 0 -1.25rem 0 1.25rem;
    overflow: hidden;
}

.navbar-control {
    background: transparent;
    border-color: transparent;
    color: inherit;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    line-height: 1;
    margin: 0 1.25rem;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.main-social-navigation {
    margin: 0 1.25rem;
}

.main-nav-controls .navbar-control {
    margin: 0 1.25rem 0 auto;
}

.navbar-control:hover,
.navbar-control:focus,
.navbar-control:active {
    outline: none;
    border-color: transparent;
}

.navbar-control-trigger:focus {
    outline: none;
}

.navbar-control:focus-visible > .navbar-control-trigger {
    outline: 2px solid;
}

.header-searchbar {
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.header-searchbar.header-searchbar-active {
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
}

.admin-bar .header-searchbar.header-searchbar-active {
    top: 32px;
}

@media (max-width: 782px) {
    .admin-bar .header-searchbar.header-searchbar-active {
        top: 46px;
    }
}

.header-searchbar-inner {
    transform: translateY(-100%);
    transition: transform 0.15s linear, box-shadow 0.15s linear;
}

.header-searchbar-active .header-searchbar-inner {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
    transform: translateY(0);
    transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
}

.header-searchbar-area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.header-searchbar form {
    margin: 0;
    position: relative;
    width: 100%;
}

.header-searchbar .close-popup {
    margin-left: 1rem;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #000;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2568ef;
}

a:focus {
    outline: 2px solid;
}

a:hover,
a:active {
    outline: none;
}

.entry-content a:not(.more-link):not(.button):not(.wp-block-button__link):not(.btn-fancy):not([class*='twp_cat']),
.entry-summary a:not(.more-link):not(.button),
.widget_text a:not(.more-link):not(.button) {
    text-decoration: underline;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-topbar {
    background: #000;
}

@media screen and (max-width: 991px) {
    .site-topbar {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

.site-topbar,
.site-topbar a {
    color: #fff;
}

.site-topbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-topbar ul li {
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 1.4rem;
}

.site-topbar ul li a {
    font-size: 1.2rem;
    line-height: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
}

.theme-topbar-info .topbar-info-icon {
    margin-right: 5px;
}

.header-layout-1 {
    position: relative;
}

.site-navigation {
    position: relative;
}

.header-layout-1 .site-navigation {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.site-navigation .primary-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.site-navigation .primary-menu .brand-home {
    color: #fff;
}

.site-navigation .primary-menu .brand-home a {
    color: inherit;
    font-size: 1px;
    line-height: 1px;
}

.theme-menu,
.theme-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.theme-menu a,
.responsive-content-menu a {
    color: inherit;
}

.site-navigation .primary-menu .icon {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
    margin-left: 8px;
}

.rtl .site-navigation .primary-menu .icon {
    margin-right: 8px;
}

.site-navigation .primary-menu > li {
    position: relative;
    margin: 0 1rem;
    padding: 2rem 0;
}

.site-navigation .primary-menu > li.current-menu-item:before,
.site-navigation .primary-menu > li:before {
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: -2px;
    left: 0;
    background: #000;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.site-navigation .primary-menu > li.current-menu-item:before,
.site-navigation .primary-menu > li:hover:before,
.site-navigation .primary-menu > li:focus:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.site-navigation .primary-menu a {
    display: block;
    text-decoration: none;
    word-break: normal;
    word-wrap: normal;
}

.site-navigation .primary-menu > li > a {
    line-height: 1;
}

.site-navigation .primary-menu .megamenu-content-right a {
    font-weight: 400;
}

.site-navigation .primary-menu ul {
    background: #000;
    color: #fff;
    font-size: 1.7rem;
    opacity: 0;
    margin: 0 auto;
    position: absolute;
    left: -99999rem;
    top: 100%;
    transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
    transform: translateY(0.6rem);
    width: 30rem;
    z-index: 9;
}

.site-navigation .primary-menu li.menu-item-has-children:hover > ul,
.site-navigation .primary-menu li.menu-item-has-children:focus > ul,
.site-navigation .primary-menu li.page_item_has_children:hover > ul,
.site-navigation .primary-menu li.page_item_has_children:focus > ul {
    left: 0;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.15s linear, transform 0.15s linear;
}

.site-navigation .primary-menu li.menu-item-has-children:focus-within > ul,
.site-navigation .primary-menu li.page_item_has_children:focus-within > ul {
    left: 0;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.15s linear, transform 0.15s linear;
}

.site-navigation .primary-menu li.menu-item-has-children:not(.twp-megamenu):hover > ul li:hover,
.site-navigation .primary-menu li.menu-item-has-children:not(.twp-megamenu):hover > ul li:focus {
    background: rgba(255, 255, 255, 0.085);
}

.site-navigation .primary-menu ul a {
    background: transparent;
    border: none;
    color: inherit;
    display: block;
    padding: 1.5rem;
    transition: background-color 0.15s linear;
    width: 100%;
}

.site-navigation .primary-menu ul li.menu-item-has-children > a {
    padding-right: 3rem;
}

.site-navigation .primary-menu ul li.menu-item-has-children .icon {
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 0.5rem);
}

/* DEEP DOWN */
.site-navigation .primary-menu ul ul {
    top: 0;
}

.site-navigation .primary-menu ul li.menu-item-has-children:hover > ul,
.site-navigation .primary-menu ul li.menu-item-has-children:focus > ul,
.site-navigation .primary-menu ul li.page_item_has_children:hover > ul,
.site-navigation .primary-menu ul li.page_item_has_children:focus > ul {
    left: calc(100% + 2rem);
}

.site-navigation .primary-menu ul li.menu-item-has-children:focus-within > ul,
.site-navigation .primary-menu ul li.page_item_has_children:focus-within > ul {
    left: calc(100% + 2rem);
}

.site-navigation .primary-menu ul ul::before {
    bottom: 0;
    height: auto;
    right: auto;
    left: -2rem;
    top: 0;
    width: 2rem;
}

.site-navigation .primary-menu ul ul::after {
    border-bottom-color: transparent;
    border-right-color: #fff;
    bottom: auto;
    left: -1.6rem;
    top: 2rem;
}

.rtl .site-navigation .primary-menu ul ul::after {
    transform: rotate(180deg);
}

/*
 * Enable nav submenu expansion with tapping on arrows on large-viewport
 * touch interfaces (e.g. tablets or laptops with touch screens).
 * These rules are supported by all browsers (>IE11) and when JS is disabled.
 */
@media (any-pointer: coarse) {
    .site-navigation .primary-menu > li.menu-item-has-children > a {
        padding-right: 0;
        margin-right: 2rem;
    }

    .site-navigation .primary-menu ul li.menu-item-has-children > a {
        margin-right: 4.5rem;
        padding-right: 0;
        width: unset;
    }
}

/* Repeat previous rules for IE11 (when JS enabled for polyfill). */
body.touch-enabled .primary-menu > li.menu-item-has-children > a {
    padding-right: 0;
    margin-right: 2rem;
}

body.touch-enabled .primary-menu ul li.menu-item-has-children > a {
    margin-right: 4.5rem;
    padding-right: 0;
    width: unset;
}

@media screen and (max-width: 991px) {
    .header-layout-1 .site-navigation {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .site-navigation .primary-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

.site-navigation .primary-menu ul.theme-megamenu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 0;
    width: 60rem;
}

.theme-megamenu-content .megamenu-content-left,
.theme-megamenu-content .megamenu-content-right {
    display: block;
    min-width: 120px;
    flex-grow: 1;
}

.theme-megamenu-content .megamenu-content-left {
    margin-right: 20px;
}

.theme-megamenu-content .megamenu-content-right {
}

.menu-description {
    color: #fff;
    padding: 4px 5px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 2px;
    left: calc(100% - 20px);
    padding: 2px 5px;
    line-height: 10px;
    white-space: nowrap;
}

.menu-description:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    left: 3px;
    bottom: -4px;
}

.navbar-control {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.header-layout-2 .navbar-control-search {
    display: block;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 991px) {
    .navbar-control {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .main-social-navigation {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

#offcanvas-menu {
    background: rgba(0, 0, 0, 0.42);
    position: fixed;
    top: 0;
    height: 100%;
    right: -100%;
    width: 100%;
    z-index: 1000;
    justify-content: flex-end;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -ms-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
}

#offcanvas-menu .offcanvas-wraper {
    height: 100%;
    padding: 20px 100px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .1);
}

#offcanvas-menu .offcanvas-wraper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media screen and (max-width: 991px) {
    #offcanvas-menu .offcanvas-wraper {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
        padding: 20px;
    }
}

@media screen and (max-width: 767px) {
    #offcanvas-menu .offcanvas-wraper {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

#offcanvas-menu .close-offcanvas-menu {
    text-align: right;
    cursor: pointer;
}

#offcanvas-menu .close-offcanvas-menu .offcanvas-close {
    font-size: 14px;
    font-weight: 700;
    margin: 10px auto;
    display: block;
    text-align: right;
}

.admin-bar #offcanvas-menu .close-offcanvas-menu .offcanvas-close {
    margin-top: 40px;
}

.offcanvas-wraper > * {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    will-change: transform, opacity;
}

.offcanvas-menu-active .offcanvas-wraper > * {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.offcanvas-menu-active .offcanvas-wraper .offcanvas-branding {
    transition-delay: 0.3s;
}

.offcanvas-menu-active .offcanvas-wraper .offcanvas-main-navigation {
    transition-delay: 0.6s;
}

.offcanvas-menu-active .offcanvas-wraper .offcanvas-social-navigation {
    transition-delay: 0.9s;
}

#offcanvas-menu.offcanvas-menu-active {
    display: -ms-flexbox;
    display: flex;
    right: 0;
}

.offcanvas-main-navigation {
    width: 100%;
}

.offcanvas-item {
    margin-bottom: 15px;
}

.offcanvas-main-navigation li.brand-home {
    position: absolute;
    top: -70px;
    left: 0;
    border: 0;
}

.offcanvas-main-navigation li,
.responsive-content-menu li {
    border-bottom: 1px solid;
    position: relative;
}

.offcanvas-main-navigation li:last-child,
.responsive-content-menu li:last-child {
    border-bottom: none;
}

.offcanvas-main-navigation a,
.responsive-content-menu a {
    display: block;
    font-size: 18px;
    padding: 20px 0;
    text-decoration: none;
    position: relative;
    width: 100%;
}

.offcanvas-main-navigation .sub-menu {
    border-top: 1px solid;
    display: none;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.offcanvas-main-navigation .sub-menu.submenu-toggle-active {
    display: block;
}

.offcanvas-main-navigation .submenu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offcanvas-main-navigation .submenu-wrapper .submenu-toggle {
    border-style: solid;
    border-width: 0 0 0 1px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.offcanvas-main-navigation .submenu-wrapper .submenu-toggle .svg-icon {
    height: .9rem;
    transition: transform .15s linear;
    width: 1.8rem;
}

.offcanvas-main-navigation .submenu-wrapper .submenu-toggle.button-toggle-active .svg-icon {
    transform: rotate(180deg);
}

.social-menu ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-menu li {
    display: inline-block;
    vertical-align: middle;
}

.social-menu li a .svg-icon {
    margin-left: .5rem;
    opacity: .65;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.skip-link {
    font-size: 16px !important;
}

#content[tabindex="-1"]:focus {
    outline: 0;
}

@media ( prefers-reduced-motion: reduce ) {
    * {
        animation-duration: 0s !important;
        transition-duration: 0s !important;
    }
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.widget:before,
.widget:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.widget:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 4.5rem;
}

.widget:last-child {
    margin: 0;
}

.widget select {
    max-width: 100%;
}

.widget ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.widget .button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
.widget a {
    color: inherit;
}

.widget a:hover,
.widget a:focus {
    color: #2568ef;
}

.widget_nav_menu a {
    display: block;
    padding: 1rem 0;
}

.widget_nav_menu .menu > .menu-item:not(:first-child) {
    border-top: 1px #e9ecef solid;
}

.widget_nav_menu .menu-item-has-children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.widget_nav_menu .menu-item-has-children > a {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.widget_nav_menu .menu-item-has-children > span {
    cursor: pointer;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.widget_nav_menu .menu-item-has-children > ul {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.widget_nav_menu .menu-item-expanded > span:after {
    content: "\e90f";
}

.widget_nav_menu .menu > .menu-item > .sub-menu {
    padding-bottom: 1rem;
}

.widget_nav_menu .sub-menu {
    display: none;
}

.widget_nav_menu .sub-menu a {
    padding: 0.5rem 0;
    line-height: 1;
}

.widget_nav_menu .sub-menu .sub-menu {
    padding: 0.5rem 0;
}

.widget_nav_menu .sub-menu .sub-menu a {
    padding-left: 1rem;
}

.widget_nav_menu .submenu-visible {
    display: block;
}

.search-form {
    margin: 0 auto;
}

.header-layout-1 .search-form {
    width: 420px;
}

@media (max-width: 991px) {
    .header-layout-1 .search-form {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

.search-form label {
    display: block;
    margin: 0 auto;
    width: 80%;
    float: left;
}

.search-form label .search-field {
    border-right: 0;
}

.search-form .search-submit {
    float: left;
    width: 20%;
    -webkit-appearance: none;
}

.widget_recent_entries ul li,
.widget_categories ul li,
.widget_pages ul li,
.widget_archive ul li,
.widget_meta ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    padding: 1.5rem 0;
}

.widget_recent_entries ul li:not(:last-child),
.widget_categories ul li:not(:last-child),
.widget_pages ul li:not(:last-child),
.widget_archive ul li:not(:last-child),
.widget_meta ul li:not(:last-child) {
    border-bottom: 1px #e9ecef solid;
}

.widget_recent_entries ul li:first-child:last-child,
.widget_categories ul li:first-child:last-child,
.widget_pages ul li:first-child:last-child,
.widget_archive ul li:first-child:last-child,
.widget_meta ul li:first-child:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.widget_categories ul li:first-child:last-child > .children,
.widget_pages ul li:first-child:last-child > .children,
.widget_archive ul li:first-child:last-child > .children {
    padding-bottom: 0;
}

.widget_recent_entries ul li a,
.widget_categories ul li a,
.widget_pages ul li a,
.widget_archive ul li a,
.widget_meta ul li a {
    padding-right: 0.6666666667rem;
    margin-right: auto;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.widget_categories ul ul.children,
.widget_pages ul ul.children,
.widget_archive ul ul.children {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    border-top: 1px #e9ecef solid;
    margin-top: 1rem;
    margin-left: 0;
    padding-left: 1.5em;
}

.widget_categories ul ul.children li,
.widget_pages ul ul.children li,
.widget_archive ul ul.children li {
    padding: 1rem 0 1rem 1rem;
}

.widget_categories ul ul.children li:last-child,
.widget_pages ul ul.children li:last-child,
.widget_archive ul ul.children li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.widget_categories ul ul.children ul.children li,
.widget_pages ul ul.children ul.children li,
.widget_archive ul ul.children ul.children li {
    margin-left: 1rem;
    padding-left: 0;
}

#wp-calendar {
    width: 100%;
    margin: 0;
}

#wp-calendar caption {
    text-align: right;
    margin-bottom: 15px;
}

#wp-calendar thead th {
    text-align: center;
}

#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding: 8px;
}

#wp-calendar tbody td:hover {
    background: #fff;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot td.pad {
    display: none;
}

.widget_recent_comments li {
    position: relative;
    padding-bottom: 1rem;
}

.widget_recent_comments li:last-child {
    padding-bottom: 0;
}

.widget_recent_comments li .comment-author-link,
.widget_recent_comments li .comment-author-link a {
}

.widget_recent_entries li {
    position: relative;
    padding-bottom: 1rem;
}

.widget_recent_entries li:last-child {
    padding-bottom: 0;
}

.widget_recent_entries li .post-date {
    margin-left: 1rem;
}

.widget_recent_entries li .post-date:before {
    content: '(';
}

.widget_recent_entries li .post-date:after {
    content: ')';
}

.widget_rss .rss-widget-icon {
    display: none;
}

.widget_rss ul li {
    border-bottom: 1px #e9ecef solid;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.widget_rss ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.widget_rss ul li .rsswidget {
    color: #000000;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

.widget_rss ul li .rss-date {
    display: block;
    margin-top: 0.25rem;
}

.widget_rss ul li .rssSummary {
    margin-top: 0.25rem;
    color: #000000;
}

.widget_rss ul li cite {
    display: block;
    margin-top: 0.25rem;
    font-style: normal;
    text-align: right;
    font-size: 0.8125rem;
}

.widget_tag_cloud {
    overflow: hidden;
}

.widget_tag_cloud .tagcloud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.widget_tag_cloud .tagcloud a {
    background: rgba(0, 0, 0, 0.052);
    font-size: 12px !important;
    padding: 0.5rem 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:focus {
    background: #000;
    color: #fff;
}

.widget_tag_cloud .tagcloud a:last-child {
    margin-right: 0;
}

.widget_tag_cloud .tagcloud a:first-letter {
    text-transform: uppercase;
}

.widget_media_video .mejs-container {
    max-width: 100%;
    overflow: hidden;
}

.widget_media_video .mejs-container video,
.widget_media_video .mejs-container iframe,
.widget_media_video .mejs-container object,
.widget_media_video .mejs-container embed {
    max-width: 100%;
    overflow: hidden;
}

.widget_media_gallery {
    overflow: hidden;
}

.widget_media_gallery [class^="gallery-columns-"],
.widget_media_gallery [class*=" gallery-columns-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -1rem -0.5rem 0;
}

.widget_media_gallery [class^="gallery-columns-"] .gallery-item,
.widget_media_gallery [class*=" gallery-columns-"] .gallery-item {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.widget_media_gallery [class^="gallery-columns-"] .gallery-item img,
.widget_media_gallery [class*=" gallery-columns-"] .gallery-item img {
    display: block;
    border-radius: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.widget_media_gallery [class^="gallery-columns-"] .gallery-item:hover img,
.widget_media_gallery [class*=" gallery-columns-"] .gallery-item:hover img {
    opacity: 0.6;
}

.widget_media_gallery [class^="gallery-columns-"] .gallery-item .gallery-caption,
.widget_media_gallery [class*=" gallery-columns-"] .gallery-item .gallery-caption {
    padding: 1rem 1rem 0;
}

.widget_media_gallery [class^="gallery-columns-"] .gallery-item .gallery-icon,
.widget_media_gallery [class*=" gallery-columns-"] .gallery-item .gallery-icon {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.widget_media_gallery .gallery-columns-4 .gallery-caption,
.widget_media_gallery .gallery-columns-5 .gallery-caption,
.widget_media_gallery .gallery-columns-6 .gallery-caption,
.widget_media_gallery .gallery-columns-7 .gallery-caption,
.widget_media_gallery .gallery-columns-8 .gallery-caption,
.widget_media_gallery .gallery-columns-9 .gallery-caption {
    display: none;
}

.widget_media_gallery .gallery-columns-1 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.widget_media_gallery .gallery-columns-2 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.widget_media_gallery .gallery-columns-3 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.widget_media_gallery .gallery-columns-4 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.widget_media_gallery .gallery-columns-5 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.widget_media_gallery .gallery-columns-6 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
}

.widget_media_gallery .gallery-columns-7 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.2857142857%;
    flex: 0 0 14.2857142857%;
    max-width: 14.2857142857%;
}

.widget_media_gallery .gallery-columns-8 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.widget_media_gallery .gallery-columns-9 .gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11.1111111111%;
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
}

/* Text widget */
.widget_text {
    color: #000000;
    word-wrap: break-word;
}

.widget_text ul {
    list-style: disc;
    margin: 0 0 1rem 1rem;
}

.widget_text ol {
    list-style: decimal;
}

.widget_text ul li,
.widget_text ol li {
    border: none;
}

.widget_text ul li:last-child,
.widget_text ol li:last-child {
    padding-bottom: 0;
}

.widget_text ul li ul {
    margin: 0 0 0 1rem;
}

.widget_text ul li li {
    padding-left: 0;
    padding-right: 0;
}

.widget_text ol li {
    list-style-position: inside;
}

.widget_text ol li + li {
    margin-top: -1px;
}

/*Custom Widgets*/
.widget .tab-head .twp-nav-tabs {
    border-bottom: 2px solid;
    margin-bottom: 15px;
}

.widget .tab-head .twp-nav-tabs li {
    float: left;
    margin: 0 auto;
    width: 33.33%;
}

.widget .tab-head .twp-nav-tabs > li > a {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.widget .tab-head .twp-nav-tabs > li.active > a,
.widget .tab-head .twp-nav-tabs > li > a:focus,
.widget .tab-head .twp-nav-tabs > li > a:hover,
.widget .tab-head .twp-nav-tabs > li.active > a:focus,
.widget .tab-head .twp-nav-tabs > li.active > a:hover {
    background: #000;
    color: #fff;
}

.widget .tab-head .post-description {
    margin-top: 20px;
}

.tab-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.site-content .tab-icon {
    width: 20px;
    height: 20px;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.theme-widget-list li .article-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.theme-widget-list li:last-child .article-list {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.theme-widget-list .article-image {
    position: relative;
}

.trend-item {
    background-color: #000;
    color: #fff;
    height: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20px;
    outline: 2px solid #000;
    outline-offset: 4px;
    z-index: 1;
}

.category-widget-header .category-title,
.category-widget-header .post-count {
    display: inline-block;
    vertical-align: middle;
}

.category-widget-header .category-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.category-widget-header .post-count {
    background-color: #000;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    width: 40px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border-radius: 100%;
}

.category-widget-description,
.category-latest-article .entry-title {
    margin-top: 15px;
    margin-bottom: 0;
}

.author-widget-details .profile-data-bg {
    border-radius: 100%;
    border: 5px solid #FFf;
    height: 160px;
    margin: 0 auto;
    width: 160px;
}

.data-bg-enable.author-widget-details .profile-data-bg {
    margin-top: -80px;
}

.author-widget-details .author-content {
    text-align: center;
}

.author-content .entry-title {
    margin-top: 10px;
}

.author-widget-details .author-social-profiles {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.author-widget-details .author-social-profiles > a {
    display: inline-block;
    margin: 0 5px;
}

.author-widget-details .author-social-profiles .svg-icon {
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    outline: 2px solid;
    padding: 8px;
    outline-offset: 3px;
}

.author-widget-details .author-social-profiles a:hover .svg-icon,
.author-widget-details .author-social-profiles a:focus .svg-icon {
    background: #000;
}

.theme-social-widget ul li {
    margin: 2px 0;
    display: inline-block;
    vertical-align: middle;
}

.theme-social-widget ul li a {
    background: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
}

.theme-social-widget ul li a:hover,
.theme-social-widget ul li a:focus {
    filter: alpha(opacity=90);
    opacity: .90;
    color: #fff;
}

.theme-social-widget ul li .svg-icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.entry-breadcrumb {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.breadcrumbs {
    font-size: 90%;
    margin: 15px auto 20px;
}

@media (max-width: 767px) {
    .breadcrumbs {
        display: none;
    }
}

.breadcrumbs a {
    color: inherit;
}

.breadcrumbs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline-block;
}

.breadcrumbs ul .trail-item span {
    position: relative;
}

.breadcrumbs ul .trail-item.trail-begin span {
    padding-left: 0;
}

.breadcrumbs ul li span:before {
    content: '/';
    margin: 0 6px;
    color: rgba(0, 0, 0, 0.24);
}

.breadcrumbs ul .trail-item.trail-begin span:before {
    content: none;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

.entry-header-1 {
    margin-top: 3rem;
    padding-top: 3rem;
}

.entry-title a {
    color: inherit;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.wrapper,
.wrapper-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 1140px;
    }
}

.column-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column-row-collapse {
    margin-right: 0;
    margin-left: 0;
}

.column-row-small {
    margin-right: -5px;
    margin-left: -5px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.column-row-collapse .column {
    padding-right: 0;
    padding-left: 0;
}

.column-row-small .column {
    padding-right: 5px;
    padding-left: 5px;
}

.column-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.column-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.column-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.column-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.column-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.column-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.column-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.column-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.column-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.column-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.column-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.column-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 992px) {
    .column-order-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .column-order-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .column-order-3 {
        -ms-flex-order: 3;
        order: 3;
    }
}

@media (max-width: 991px) {
    .column-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .column-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .column-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .column-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 767px) {
    .column-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .column-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .column-xs-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .column-xs-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .hidden-xs-screen {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

.content-area {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.content-area {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.alignnone,
.aligncenter {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.alignwide,
.alignfull {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.alignleft {
    margin: .5rem 2.5rem 2.5rem 0;
}

.alignright {
    margin: .5rem 0 2.5rem 2.5rem;
}

@media only screen and ( min-width: 1400px ) {
    .entry-content .alignwide {
        margin-left: -10rem;
        margin-right: -10rem;
    }
}

.alignfull > figcaption,
.alignfull > .wp-caption-text {
    width: calc(100% - 8rem);
}

.entry-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.6rem;
}

.entry-meta-center {
    justify-content: center;
}

.entry-meta a {
    text-decoration: none;
}

.entry-meta .cat-links a {
    display: inline;
    background-image: linear-gradient(180deg, transparent 65%, #03eada 0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 1.2;
    padding: 0 3px;
    margin-right: .5rem;
}

.entry-meta .entry-meta-item {
    margin: 0 1rem 1rem 0;
}

.entry-meta-left .entry-meta-avatar {
    width: 40px;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 1rem;
    overflow: hidden;
}

.entry-meta .entry-meta-right .entry-meta-item {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 0;
}

.entry-meta-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.entry-meta-item .entry-meta-icon {
    margin-right: 1rem;
}

.entry-meta-label {
    margin-right: 5px;
}

.post-navigation {
    border-style: solid;
    border-width: .1rem 0;
    font-size: 1.8rem;
    margin-top: 5rem;
    padding: 3rem 0;
}

.post-navigation .nav-links {
    display: flex;
    flex-direction: column;
}

.post-navigation .nav-links > div + div {
    margin-top: 1rem;
}

.post-navigation a {
    align-items: baseline;
    display: flex;
    text-decoration: none;
}

.post-navigation .arrow {
    margin-right: 1rem;
}

/* SINGLE PAGINATION */
.post-navigation {
    font-size: 2.4rem;
    padding: 3.5rem 0;
    margin-top: 8rem;
}

.post-navigation .nav-links {
    flex-direction: row;
    justify-content: space-between;
}

.post-navigation .nav-links > div {
    max-width: calc(50% - 2rem);
}

.post-navigation .nav-links > div + div {
    margin: 0 0 0 4rem;
}

.post-navigation .arrow {
    margin: 0 2rem 0 0;
}

.post-navigation .nav-next:only-child {
    margin-left: auto;
}

.post-navigation .nav-next a {
    flex-direction: row-reverse;
    text-align: right;
}

.post-navigation .nav-next .arrow {
    margin: 0 0 0 2rem;
}

.theme-ajax-post-load {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.pagination {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
    text-align: center;
}

.pagination a {
    color: inherit;
}

.pagination .page-numbers {
    display: inline-block;
    margin-right: 1.25em;
    color: #abadaf;
}

.pagination .page-numbers.current {
    color: #161719;
}

.pagination .page-numbers:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 600px) {
    .pagination .prev:after,
    .pagination .next:before {
        position: relative;
        display: inline-block;
        width: 2.25rem;
        height: 1px;
        content: '';
        vertical-align: middle;
        background-color: #eaebee;
    }

    .pagination .prev:after {
        margin-left: 1.25em;
    }

    .pagination .next:before {
        margin-right: 1.25em;
    }
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.twp-comment-toggle {
    text-align: left;
    position: relative;
    width: 100%;
}

.comment-toggle-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45px;
    z-index: 1;
    padding: 0 10px;
    display: inline-block;
    line-height: 1px;
}

.comment-toggle-icon.active:after {
    width: 13px;
    height: 1px;
}

.comment-toggle-icon:before,
.comment-toggle-icon:after {
    content: '';
    width: 13px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.comment-toggle-icon:after {
    width: 1px;
    height: 13px;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments .comments-title {
    margin-bottom: 60px;
    font-size: 26px;
}

.page #comments .comments-title {
    margin-top: 60px;
}

#comments .comment-list {
    list-style: none;
    margin: 40px auto;
    padding: 0;
}

#comments .comment-list li {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

#comments .comment-list li article {
    padding: 0;
    margin-bottom: 20px;
}

#comments .comment-list .children {
    list-style: none;
    margin: 0;
    padding-left: 30px;
    position: relative;
}

#comments .comment-list .children li {
    margin: 0;
    border: none;
}

#comments .comment-list .comment-content li {
    margin-bottom: 10px;
    border: none;
}

#comments .comment-list .comment-content h1,
#comments .comment-list .comment-content h2,
#comments .comment-list .comment-content h3,
#comments .comment-list .comment-content h4,
#comments .comment-list .comment-content h5,
#comments .comment-list .comment-content h6 {
    margin-bottom: 30px;
    margin-top: 30px;
}

#comments .comment-body {
    min-height: 60px;
    display: block;
    position: relative;
    clear: both;
}

#comments .comment-body p:last-child {
    margin-bottom: 0;
}

#comments .comment-body footer {
    margin-bottom: 20px;
}

#comments .comment-body footer a {
    color: inherit;
}

#comments .comment-author img {
    float: left;
    margin-right: 20px;
}

#comments .comment-author .fn {
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    display: inline-block;
    padding-top: 5px;
}

#comments .comment-author .says {
    display: none;
}

#comments .comment-meta .comment-metadata {
    font-size: 85%;
    margin-top: 5px;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

#comments .comment-meta .comment-metadata .edit-link {
    margin-left: 10px;
}

#comments .reply {
    margin-top: 20px;
}

#comments .comment-reply-link {
    font-weight: 600;
    text-decoration: none;
}

#comments .comment-reply-link:hover {
    filter: alpha(opacity=85);
    opacity: .85;
}

#comments .comment-reply-link:hover:after {
    margin-left: 13px;
}

#comments .comment-form {
    margin-top: 15px;
}

#comments .comment-form p {
    margin-bottom: 10px;
}

#comments .comment-form p:last-child {
    margin-bottom: 0;
}

#comments .comment-list #respond {
    margin: -20px 0 40px 0;
}

#comments .comment-form-info-fields {
    margin-bottom: 25px;
}

#comments p.form-submit {
    clear: both;
}

#comments span.required {
    color: #ff7979;
}

#comments .comment-awaiting-moderation {
    color: #DB6A23;
    font-size: 85%;
}

#comments p.comment-notes,
#comments p.logged-in-as,
#comments p.must-log-in {
    margin-bottom: 30px;
    font-size: 90%;
}

#comments p.form-allowed-tags {
    margin-bottom: 25px;
    font-size: 14px;
}

#comments h3.comment-reply-title {
    font-size: 18px;
    margin-bottom: 5px;
    clear: both;
}

#comments ol li h3.comment-reply-title {
    margin-top: 60px;
}

#comments h3.comment-reply-title #cancel-comment-reply-link {
    display: inline-block;
    margin-left: 10px;
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

#comments .comment-form p.form-submit {
    margin-bottom: 0;
    margin-top: 30px;
}

#comments .comment-form .comment-subscription-form, #comments .comment-form .comment-subscription-form:only-child {
    font-size: 14px;
    margin-top: 20px;
}

#comments .comment-form .comment-subscription-form:last-child {
    margin-top: 0;
}

@media (min-width: 600px) {
    .comments-area .comment-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-left: -20px;
    }

    .comments-area .comment-form-comment {
        margin-bottom: 1.5rem;
    }

    .comments-area .comment-notes,
    .comments-area .comment-form-comment,
    .comments-area .logged-in-as {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 1.5rem;
    }

    .comments-area .comment-form-author,
    .comments-area .comment-form-ratings,
    .comments-area .comment-form-email,
    .comments-area .comment-form-url {
        -webkit-box-flex: 0;
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 1.5rem;
    }

    .comments-area .comment-form-author,
    .comments-area .comment-form-email,
    .comments-area .comment-form-url {
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .comments-area .comment-form-ratings {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .comments-area .comment-form-cookies-consent,
    .comments-area .comment-subscription-form {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.form-submit {
    margin: 0;
}

@media (min-width: 600px) {
    .form-submit {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Gutenberg
--------------------------------------------------------------*/
.wp-block-archives,
.wp-block-button,
.wp-block-categories,
.wp-block-code,
.wp-block-columns,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-embed,
.wp-block-gallery,
.wp-block-group,
.wp-block-image,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-media-text,
.wp-block-preformatted,
.wp-block-pullquote,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-verse,
.wp-block-video {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.wp-block-cover.alignwide + .wp-block-cover.alignwide,
.wp-block-cover.alignfull + .wp-block-cover.alignfull,
.wp-block-group.has-background.alignwide + .wp-block-group.has-background.alignwide,
.wp-block-group.has-background.alignfull + .wp-block-group.has-background.alignfull {
    margin-top: -6rem;
}

.wp-block-columns.alignwide,
.wp-block-columns.alignfull {
    margin-bottom: 2rem;
}

.wp-block-columns + .wp-block-columns {
    margin-top: 0;
}

.wp-block-columns.alignwide + .wp-block-columns.alignwide,
.wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -2rem;
}

.wp-block-column {
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 8rem);
}

.wp-block-embed {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.wp-block-embed.alignleft,
.wp-block-embed.alignright {
    margin-top: .5rem;
}

.wp-block-embed figcaption {
    margin-top: 1.8rem;
}

.wp-block-file {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.wp-block-file.aligncenter {
    justify-content: center;
}

.wp-block-file.alignright {
    justify-content: flex-end;
    align-items: center;
}

.wp-block-file * + .wp-block-file__button {
    margin-left: 1rem;
}

.wp-block-image .alignleft,
.wp-block-image .alignright {
    margin-top: .5rem;
}

.wp-block-image.alignleft,
.wp-block-image .alignleft {
    margin-right: 2.5rem;
}

.wp-block-image.alignright,
.wp-block-image .alignright {
    margin-left: 2.5rem;
}

.wp-block-image figcaption {
    margin-bottom: 0;
    margin-top: 1.8rem;
}

.wp-block-gallery.alignwide,
.wp-block-gallery.alignfull {
    margin-bottom: 4.4rem;
}

.wp-block-group.has-background {
    padding: 4rem 3rem;
}

.wp-block-latest-posts.is-grid li {
    margin: 0 4rem 4rem 0;
    padding-top: 1.6rem;
    width: calc(50% - 4rem);
}

.wp-block-latest-posts.is-grid li > a {
    font-size: 1.33em;
}

p.has-background {
    padding: 3rem;
}

.wp-block-pullquote.alignwide p,
.wp-block-pullquote.alignfull p,
.wp-block-pullquote.is-style-solid-color.alignfull blockquote p,
.wp-block-pullquote.is-style-solid-color.alignwide blockquote p {
    font-size: 2.5em;
}

.wp-block-pullquote.is-style-solid-color {
    padding: 4rem 3rem;
}

.wp-block-separator.is-style-wide {
    width: calc(100vw - 8rem);
}

@media ( min-width: 768px ) {
    .wp-block-columns.alignwide,
    .wp-block-columns.alignfull {
        margin-bottom: 6rem;
    }

    .wp-block-column {
        margin-bottom: 0;
    }
}

@media ( min-width: 992px ) {
    .wp-block-cover.alignwide + .wp-block-cover.alignwide,
    .wp-block-cover.alignfull + .wp-block-cover.alignfull,
    .wp-block-group.has-background.alignwide + .wp-block-group.has-background.alignwide,
    .wp-block-group.has-background.alignfull + .wp-block-group.has-background.alignfull {
        margin-top: -8rem;
    }

    .wp-block-columns.alignwide,
    .wp-block-columns.alignfull {
        margin-bottom: 8rem;
    }

    .wp-block-columns.alignwide + .wp-block-columns.alignwide,
    .wp-block-columns.alignfull + .wp-block-columns.alignfull {
        margin-top: -4rem;
    }

    .wp-block-column {
        font-size: 1.8rem;
    }

    .wp-block-cover-image .wp-block-cover__inner-container,
    .wp-block-cover .wp-block-cover__inner-container {
        width: calc(100% - 10rem);
    }

    .wp-block-gallery.alignwide,
    .wp-block-gallery.alignfull {
        margin-bottom: 6.4rem;
    }

    .wp-block-latest-posts.is-grid li {
        margin: 0 4rem 6rem 0;
        padding-top: 2.4rem;
    }

    .wp-block-separator.is-style-wide {
        width: calc(100vw - 10rem);
    }
}

@media ( min-width: 1220px ) {
    .wp-block-cover.alignfull + .wp-block-cover.alignfull,
    .wp-block-group.has-background.alignfull + .wp-block-group.has-background.alignfull {
        margin-top: -10rem;
    }

    .wp-block-columns.alignfull {
        margin-bottom: 10rem;
    }

    .wp-block-columns.alignfull + .wp-block-columns.alignfull {
        margin-top: -6rem;
    }

    .wp-block-gallery.alignfull {
        margin-bottom: 8.4rem;
    }
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

embed,
iframe,
object {
    max-width: 100%;
}

.wp-custom-logo .site-logo {
    margin: 0;
}

.custom-logo-link {
    display: inline-block;
    max-width: 250px;
}

.day-mode .custom-logo-link.custom-dark-logo-link,
.night-mode .custom-logo-link:not(.custom-dark-logo-link) {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin: 1em 0 1.5em;
    max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.wp-caption.alignleft {
    margin-right: 20px;
}

.wp-caption.alignright {
    margin-left: 20px;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
    div[class^='gallery-columns-'], div[class*=' gallery-columns-'] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

@media (min-width: 600px) {
    .gallery-columns-2 .gallery-item {
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .gallery-columns-4 .gallery-item {
        max-width: 25%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .gallery-columns-5 .gallery-item {
        max-width: 20%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer-widgetarea {
    padding-bottom: 8rem;
    padding-top: 7.5rem;
}

.site-info {
    padding: 6rem 0;
}

.footer-credits {
    align-items: baseline;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
}

.footer-credits a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: underline;

}

/*--------------------------------------------------------------
## Rough
--------------------------------------------------------------*/
.entry-content .alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}

.wp-block-gallery.columns-1 {
    display: block;
}

ul.wp-block-gallery.columns-1,
.wp-block-gallery .blocks-gallery-grid,
.wp-block-gallery {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.featured-banner-media img {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none
}

.header-layout-1 .site-navigation,
.offcanvas-main-navigation li,
.offcanvas-main-navigation .sub-menu,
.offcanvas-main-navigation .submenu-wrapper .submenu-toggle,
.post-navigation,
.widget .tab-head .twp-nav-tabs,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    border-color: #ededed;
}

body.hide-comment-rating .tpk-single-rating,
body.hide-comment-rating .tpk-comment-rating-label,
body.hide-comment-rating .comments-rating,
body.hide-comment-rating .tpk-star-rating {
    display: none;
}

/*--------------------------------------------------------------
## Plugin Support
--------------------------------------------------------------*/
.elementor-html .preloader {
    display: none;
}

.be-fav-posts a {
    display: flex;
    align-items: center;
}

.header-layout-1 .search-form,
.header-layout-1 .be-fav-posts {
    margin: 0 1.25rem;
}

.be-fav-posts .be-fav-label {
    font-size: 1.4rem;
}

.booster-favourite-post {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #f7f7f7;
}

.booster-favourite-post:hover,
.booster-favourite-post:focus,
.booster-favourite-post.booster-favourite-selected {
    background-color: #000000;
    color: #fff;
}

.booster-favourite-post .booster-svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.post-content-share .twp-social-share .twp-share-container .twp-social-icons {
    margin-right: 1.5rem;
}

.post-content-share .twp-social-share .twp-social-icons .twp-icon-holder {
    border: 0;
}

.post-content-share .twp-icon-holder .twp-share-media {
    font-size: 28px;
    line-height: 1;
}

.post-content-share .twp-social-linkedin .twp-icon-holder .twp-share-media,
.post-content-share .twp-social-email .twp-icon-holder .twp-share-media {
    margin-top: 0;
}

.post-content-share .twp-share-media .twp-label-title {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.post-content-share .twp-plugin-title.twp-share-title h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
}

.archive-like-share {
    margin-top: 30px;
}

.archive-like-share,
.archive-like-share a {
    color: #737373;
}

.twp-toggle-share span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1px;
}

.post-wrapper .post-thumbnail .twp-like-dislike-button,
.post-thumb .twp-like-dislike-button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.post-wrapper .post-thumbnail .twp-like-dislike-button,
.post-wrapper .post-thumbnail .twp-like-dislike-button a,
.post-thumb .twp-like-dislike-button,
.post-thumb .twp-like-dislike-button a {
    color: #fff;
}

.site .twp-like-dislike-button .twp-like-count,
.site .twp-like-dislike-button .twp-dislike-count {
    background: #FFEB3B;
    color: #000000;
}

.floating-post-navigation {
    position: fixed;
    top: 50%;
    z-index: 999;
    width: 340px;
    height: 200px;
    overflow: hidden;
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition: all .4s cubic-bezier(.24, .6, .25, 1);
    -moz-transition: all .4s cubic-bezier(.24, .6, .25, 1);
    -o-transition: all .4s cubic-bezier(.24, .6, .25, 1);
    transition: all .4s cubic-bezier(.24, .6, .25, 1);
}

.floating-post-navigation img {
    filter: alpha(opacity=65);
    opacity: .65;
}

.floating-navigation-prev {
    right: calc(100% - 50px);
}

.floating-navigation-prev:hover {
    right: calc(100% - 339px);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.floating-navigation-next {
    left: calc(100% - 50px);
}

.floating-navigation-next:hover {
    left: calc(100% - 339px);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.floating-post-navigation img {
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 100% !important;
}

.floating-navigation-prev img {
    right: 50px;
}

.floating-navigation-next img {
    left: 50px;
}

.floating-post-navigation a {
    color: inherit;
}

.floating-post-navigation a:hover,
.floating-post-navigation a:focus {
    color: inherit !important;
}

.floating-post-navigation .floating-navigation-label {
    position: absolute;
    top: 0;
    writing-mode: vertical-rl;
    right: 0;
    height: 100%;
    text-align: center;
    width: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 2;
    letter-spacing: 3px;
}

.floating-navigation-next .floating-navigation-label {
    right: auto;
    left: 0;
}

.floating-post-navigation .floating-navigation-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 100%;
    padding: 20px 60px 20px 20px;
    z-index: 2;
}

.floating-navigation-next .floating-navigation-title {
    padding: 20px 20px 20px 60px;
}

.offcanvas-wraper,
.header-searchbar-inner {
    background: #ffffff;
}

#comments .comment-body .comment-content,
#comments .comment-reply-link,
#comments p.comment-notes,
#comments p.logged-in-as,
#comments p.must-log-in {
    font-size: 95%;
    line-height: 1.8;
}

/*--------------------------------------------------------------
##Back to top
--------------------------------------------------------------*/
.to-the-top {
    display: block;
    text-align: right;
}

.to-the-top > * {
    pointer-events: none;
}

.to-the-top-long {
    display: none;
}

@media ( min-width: 768px ) {
    .to-the-top-long {
        display: inline;
    }

    .to-the-top-short {
        display: none;
    }
}

.theme-article-post {
    margin-bottom: 6rem;
    padding-bottom: 6rem;
}

.theme-article-post .entry-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    width: 100%;
}

.theme-carousel-post.theme-article-post {
    margin-bottom: 0;
    padding-bottom: 0;
}

.theme-article-post .entry-title {
    position: relative;
    margin-bottom: 6rem;
    transition: all 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
}

.theme-recommendation-block .theme-article-post .entry-title {
    margin-bottom: 2rem;
}

.site-content .theme-article-post .entry-title::before {
    background-color: #070707;
    content: '';
    position: absolute;
    bottom: -3rem;
    height: 1px;
    width: 25rem;
    filter: alpha(opacity=15);
    opacity: .15;
    left: 0;
}

.site-content .theme-recommendation-block .theme-article-post .entry-title::before {
    content: none;
    display: none;
}

.theme-custom-block {
    position: relative;
}

.theme-banner-block,
.featured-categories-block {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.theme-banner-block {
    padding-top: 3rem;
}

.theme-custom-block.theme-error-section.error-block-heading {
    margin-bottom: 0;
    margin-top: 6rem;
    padding-top: 6rem;
}

.theme-article-animate {
    opacity: 0;
}

@media only screen and (max-width: 580px) {
    .theme-article-animate {
        opacity: 1;
    }
}

.theme-article-animate.animated {
    opacity: 1;
    animation: up 2s cubic-bezier(0.42, 0, 0, 0.995), fade 1s cubic-bezier(0.42, 0, 0, 0.995);
}

@media only screen and (max-width: 580px) {
    .theme-article-animate.animated {
        animation-delay: 0s;
    }
}

@keyframes up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.theme-reveal {
    position: relative;
}

.theme-reveal::after,
.theme-reveal::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.theme-reveal::before {
    background: #fff;
    z-index: 4;
}

.theme-reveal.animated::before {
    -webkit-animation: theme-reveal 0.6s 50ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
    animation: theme-reveal 0.6s 50ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
}

@-webkit-keyframes animate-article {
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate-article {
    100% {
        transform: translateX(100%);
    }
}

/* Text down*/
.theme-animate-up {
    display: inline-block;
    margin-top: -5px;
    overflow: hidden;
}

@media only screen and (max-width: 580px) {
    .theme-animate-up {
        overflow: visible;
    }
}

.theme-animate-up > span {
    display: inline-block;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: opacity, transform 0.8s 400ms cubic-bezier(0.7, 0, 0.3, 1);
    vertical-align: middle;
}

@media only screen and (max-width: 580px) {
    .theme-animate-up > span {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.theme-animate-up.animated > span {
    opacity: 1;
    transform: translate3d(0px, 0%, 0px);
}

.theme-article-post .theme-reveal.animated::before {
    -webkit-animation: animate-article 1s 50ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
    animation: animate-article 1s 50ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
}

.theme-recommendation-block {
    background: #f5efe0;
}

.theme-recommendation-main {
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.theme-area-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 6rem;
}

.theme-area-headlines {
    display: flex;
    align-items: center;
}

.theme-area-headlines .theme-area-title {
    font-size: 6.4rem;
    margin-bottom: 0;
}

.theme-animated-line {
    width: 100px;
    height: 2px;
    background: transparent;
    position: relative;
}

.theme-animated-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    0% {
        left: 0;
    }
}

.theme-carousel-control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

.featured-categories-block .theme-carousel-control {
    justify-content: center;
}

.theme-carousel-control .svg-icon {
    width: 32px;
    height: 32px;
}

@media (min-width: 1200px) {
    .twp-carousel-slider .swiper-slide {
        width: 25%;
    }

    .twp-carousel-slider .swiper-slide:nth-child(2n+1) {
        width: 45%;
    }

    .twp-carousel-slider .swiper-slide:nth-child(3n+1) {
        width: 35%;
    }
}

.theme-related-block {
    margin-top: 2rem;
    padding-top: 2rem;
}

.related-posts .related-post-item {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}


/* -----------------------------------------------------------------
    - Carousel horizontal
----------------------------------------------------------------- */

.reveal-slider {
    position: relative;
}

.reveal-slider::after, .reveal-slider::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.reveal-slider::before {
    background: #fff;
    z-index: 4;
}

.reveal-slider.animated::before {
    -webkit-animation: reveal-carousel-secondary 1s 50ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
    animation: reveal-carousel-secondary 1s 50ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
}

.main-carousel-item {
    pointer-events: none;
    width: 670px;
}

@media only screen and (max-height: 900px) {
    .main-carousel-item {
        width: 670px;
    }
}

@media only screen and (max-width: 768px) {
    .main-carousel-item {
        width: 580px;
    }
}

@media only screen and (max-width: 580px) {
    .main-carousel-item {
        margin-top: 50px;
        width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    .main-carousel-item {
        width: 870px;
    }
}

.theme-main-carousel .swiper-slide-active {
    pointer-events: all;
}


.theme-main-carousel .swiper-slide-active .reveal-slider::before {
    -webkit-animation: reveal-carousel-tertiary 1s 200ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
    animation: reveal-carousel-tertiary 1s 200ms cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
    background-color: transparent;
}

@-webkit-keyframes reveal-carousel-primary {
    100% {
        transform: translateX(100%);
    }
}

@keyframes reveal-carousel-primary {
    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes reveal-carousel-secondary {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes reveal-carousel-secondary {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes reveal-carousel-tertiary {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes reveal-carousel-tertiary {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.main-carousel-caption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 3rem;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    -webkit-animation-name: animate-fadeInUp;
    animation-name: animate-fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes animate-fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes animate-fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.main-carousel-caption,
.main-carousel-caption a {
    color: #fff;
}

.swiper-slide:not(.swiper-slide-active) .main-carousel-caption {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 580px) {
    .main-carousel-caption {
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: .8rem 15px .4rem;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .main-carousel-caption,
    .main-carousel-caption a {
        color: #000;
    }
}

.swiper-control, .control-item {
    letter-spacing: .2rem;
    padding: 2.2rem 2rem;
    position: relative;
    text-transform: uppercase;
    transition: padding 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: auto;
}

:root {
    --swiper-navigation-size: 2.6rem;
}

.swiper-control_center {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}

.swiper-control .swiper-button-prev,
.swiper-control .swiper-button-next {
    color: #000;
    opacity: .65;
}

@media only screen and (max-width: 1200px) {
    .theme-main-carousel .swiper-control .swiper-button-prev,
    .theme-main-carousel .swiper-control .swiper-button-next {
        background: #000;
        color: #fff;
        border-radius: 100%;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
    }
}

.swiper-control .swiper-button-next {
    float: right;
    padding-right: 36px;
}

.swiper-control .swiper-button-prev {
    padding-left: 38px;
}

.swiper-container .swiper-pagination-progressbar {
    background-color: #fff;
    position: fixed;
    top: 0;
}

.swiper-container .swiper-pagination-progressbar-fill {
    background-color: #070707;
}

.theme-tilt {
    height: 100%;
    position: relative;
    width: 100%;
}

.swiper-slide .theme-tilt {
    border-width: 30px 0 30px 0;
    border-style: solid;
    border-color: transparent;
}

.theme-post-format {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1;
}

.theme-article-post .column-order-1 .theme-post-format {
    left: inherit;
    right: 0;
}

.theme-post-format .post-format-icom {
    margin-right: 5px;
}

/* Hide JS Functionalities ------------------------ */
.js .show-js {
    display: block !important;
}

.js .hide-js {
    display: none !important;
}

.no-js .show-no-js {
    display: block !important;
}

.no-js .hide-no-js {
    display: none !important;
}

a:focus,
.navbar-control:focus-visible > .navbar-control-trigger {
    outline-color: #fee86d;
}

.theme-post-format {
    background-color: #fee86d;
}

.theme-image-responsive {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}

.theme-image-responsive:focus {
    border: 2px solid #fee86d;
}

.main-carousel-item.swiper-slide-active .entry-thumbnail:after {
    content: "";
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 31, 48, 0)), color-stop(70%, rgba(22, 31, 48, 0.9)));
    background-image: linear-gradient(-180deg, rgba(22, 31, 48, 0) 0%, rgba(22, 31, 48, 0.9) 70%);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

.article-content {
    margin-top: 1.5rem;
}

.article-content .category-title {
    font-weight: 400;
}

.article-content .category-title sup {
    color: #f44336;
    font-weight: 700;
}

svg.svg-icon {
    width: 20px;
}