#customize-controls .control-section-awe-blog-upgrade .accordion-section-title:hover,
#customize-controls .control-section-awe-blog-upgrade .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-awe-blog-upgrade .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

	.rtl .control-section-awe-blog-upgrade .accordion-section-title .button {
		margin-left:  0;
		margin-right: 8px;
	}
.control-section-awe-blog-upgrade .accordion-section-title .button {
    background: red;
    color: #fff;
    border-color: red;
}